:root{
    --black-clr:rgba(0,0,0,.87);
    --icon-clr:rgba(241, 243, 244, 1);
    --h1-font: 118.7px;
    --h2-font: 83.9px;
    --h3-font: 59.4px;
    --h4-font: 42px;
    --h5-font: 29.7px;
    --h6-font: 16px;
    --p-font: 21px;
}

.mainBodyContainer{
    background-color: transparent;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mainContainer{
    background-color: white;
    width:60%;
    min-height: 90%;  
    background-color: transparent;
}

.mainContainer img{
    width: 550px;
}

@media  screen and (min-width:120px) {
    .mainContainer img{
    width: 550px;
    }
    
}

@media  screen and (max-width:900px) {
    .mainContainer img{
    width: 400px;
    }
    
}

@media  screen and (max-width:700px) {
    .mainContainer img{
    width: 300px;
    }
    .mainContainer{
        min-width:95%;
       min-height: 90%;
    }  
}

@media  screen and (max-width:300px) {
    .mainContainer img{
    width: 200px;
    }
    
}

/* options holder */
.inputField{
    background-color: transparent;
    position: relative;
    width:100%;
    height:60px;
    margin-top:2rem;
    margin-bottom: 1rem;
    flex-direction: column;
    transition: all .3s ease-in-out;
}

.inputField p{
    font-size: var(--h6-font);
    color:rgb(118, 118, 118);
}



.inputfieldContainer{
    border-radius: 25px;
    background-color: white;
    border:1px solid var(--icon-clr);
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.inputfieldContainer:hover{
    box-shadow: 0px 0px 7px 2px rgba(179,178,178,0.75);
    -webkit-box-shadow: 0px 0px 7px 2px rgba(179,178,178,0.75);
    -moz-box-shadow: 0px 0px 7px 2px rgba(179,178,178,0.75);
    transition: all .3s ease-in-out;
}

.inputfieldItem{
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    padding-left:1rem;
    
}

.inputfieldItem p{
    margin-left:3rem;
    font-size: var(--h6-font);
}

.optionsHolder{
    background-color: transparent;
    height: 100%;
    width:90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left:2rem;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.optionsHolder a{
    font-size: var(--h6-font);
    margin-top: 0px;
    text-decoration: none;
    text-transform: capitalize;
    margin:.3rem;
    color:var(--black-clr);
}

.optionsHolder a:hover{
    color:blue;
}

.faIconStyle{
    color: rgb(118, 118, 118);
    font-size: var(--h6-font);
}
/* end of options holder */

/* tech stack */
.techStackContainer{
    background-color: transparent;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.techStackHeader p{
    /* background-color: bisque; */
    font-size: var(--h6-font);
    color:var(--black-clr);
    font-weight: 400;
    border-bottom:2px solid green;
    
}

.techStackImage{
    background-color: white;
    max-width:600px;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.techStackcicle{
    background-color: var(--icon-clr);
    width:50px;
    height: 50px;
    border-radius: 50px;
    margin:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit:contain;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

.techStackcicle img{
    /* background-color: var(--icon-clr); */
    width:25px;
    height: 25px;
    /* border-radius: 50px; */
    /* margin:1rem; */
}

.techStackcicle:hover{
    transform: scale(1.2);
    transition: all .5s ease-in-out;
    box-shadow: 0px 0px 18px whitesmoke;
}

@media  screen and (min-width:900px) {
    .techStackcicle{
        width:65px;
        height: 65px;
    }

    .techStackcicle img{
        width:45px;
        height: 45px;
    }
    
}

@media  screen and (max-width:600px) {
    .techStackcicle{
        width:40px;
        height: 40px;
    }

    .techStackcicle img{
        width:22px;
        height: 22px;
    }
    
}

@media  screen and (max-width:300px) {
    .techStackcicle{
        width:35px;
        height: 35px;
    }

    .techStackcicle img{
        width:20px;
        height: 20px;
    }
    
}
/* end of tech stack */