.headerContainer{
    background-color: aquamarine;
    min-height: 100px;
    /* max-height: 15%;
    height: 15%; */
}
.bodyContainer{
    /* background-color: blueviolet; */
    min-height: 500px;
    max-height: 85%;
    height: 85%;
    display: flex;
    justify-content: center;
    overflow:scroll;
}